.prises__content-logo{
    padding-top: 80px;
    font-size: 32px;
    padding-left: 60px;
}
.prises__content__top{
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    gap: 10%;
  
}
.prises__content__top-img h4{
    padding-top: 24px;
}
.prises__content__top-img p{
    padding-top: 8px;
}
.prises__content__top-btn{
    margin-top: 41px;
  color: var(--White, #5157ac);
  padding: 16px 32px;
  background-color: #fff;
  line-height: 150%;
  margin: 50px 650px 56px 840px;
}







